.connectWrap {
    width: 100%;
    height: 200px;
    background-image: url(./patt1.png);
    background-size: 150px;
    background-repeat: space;
    background-color: var(--main);
    background-position: center center;
    background-attachment: fixed;
    color: white;
    padding: 60px;
    display: flex;
}
.connectWrap a {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 55px;
    padding: 15px;
    text-align: center;
    vertical-align: center;
    appearance: none;
    background: #5f30bc;
    border-radius: 7px;
    box-shadow: 0 0 1.5em -0.5em rgb(0 0 0 / 25%);
    font-weight: bold;
    cursor: pointer;
}
.connectWrap a:hover {
    background: #783EEE;
    color: white;
    transform: scale(1.1);
}

@media ( max-width: 880px ) {  /* mobile */
    .connectWrap {
        display: block;
        padding-top: 30px;
    }
}

@media ( min-width: 880px ) {  /* pc */
    
}