h2.introTitle {
    width: 100%;
    padding: 60px 40px;
    word-break: keep-all;
    font-weight: bold;
    color: var(--main);
}
hr {
    width: 30%;
    border: 0px;
    border-top: 3px dashed !important;
    margin: 100px auto !important;
}
.teamWrap {
    width: auto;
    height: auto;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
	grid-template-rows: 250px 250px;
}
.teamWrap p {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin: 0px;
    background-color: var(--main);
    color: white;
    padding: 20px;
}
.memberImage {
    width: 250px;
    height: 250px;
    perspective: 500px;
}
.memberImage img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
}
.memberImage .imgItem {
    width: 100%;
    height: 100%;
    font-size: 35px;
    backface-visibility: hidden;
    transition: 1s;
}

.memberImage .imgItem.front {
    position: absolute;
    transform: rotateY(0deg);
}

.memberImage:hover .imgItem.front {
    transform: rotateY(180deg);
}

.memberImage .imgItem.back {
    background-size: cover !important;
    background: var(--main);
    padding: 25px;
    font-size: 16px;
    transform: rotateY(-180deg);
    word-break: keep-all;
    line-height: 14px;
}
.memberImage .imgItem.back::before{
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
}
.memberImage span {
    color: white;
    position: relative;
}
.memberImage:hover .imgItem.back {
    transform: rotateY(0deg);
    word-break: keep-all;
    line-height: 14px;
}
.aboutBanner {
    width: 80%;
    height: 200px;
    margin: 30px auto;
    box-shadow : 0 10px 40px rgb(0 0 0 / 10%);
}
.aboutBanner a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}
.aboutBanner a img {
    width: 30%;
    height: 100%;
    border: 0px;
    background-size: cover;
    object-fit: cover;
}
.aboutBanner a div {
    width: 70%;
    height: 100%;
    padding: 30px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}
.aboutBanner a div p:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    color: var(--main);
}
.aboutBanner a div p:nth-child(2) {
    color: black;
}
.aboutBanner a div span {
    width: 40px;
    height: 40px;
    float: right;
    font-weight: 200;
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 40px;
    padding: 7px;
}
.aboutBanner a:hover {
    background: var(--main);
}
.aboutBanner a:hover div p:nth-child(1) {
    color: white;
}
.aboutBanner a:hover div p:nth-child(2) {
    color: white;
}
.aboutBanner a:hover div span {
    color: white;
    border-color: white;
}

@media (max-width: 880px) {
    .teamWrap {
        grid-template-columns: 150px 150px;
	    grid-template-rows: 150px 150px 150px;
    }
    .memberImage {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 720px) {
    .aboutBanner {
        height: auto;
        width: 100%;
    }
    .aboutBanner a {
        display: block;
    }
    .aboutBanner a img {
        width: 100%;
    }
    .aboutBanner a div {
        width: 100%;
    }
    hr {
        width: 80%;
    }
}