.gridWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    grid-auto-columns: minmax(300px, auto); 
    /* minmax(auto, 300px); */
    margin: 100px auto;
}
.articleTitle {
    color: #736e84;
    font-size: 24px;
    text-align: left;
    text-decoration: none;
}
li.newslist { 
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    vertical-align: center;
    border-bottom: 1px solid lightgray;
    transition: all 0.5s ease-out;
    cursor: pointer;
    padding-bottom: 30px;
}
li.newslist:hover {
    transform: scale(1.04);
}
li.newslist:hover .articleTitle {
    color: var(--main_dark);
    font-weight: bold;
}
li.newslist:hover img {
    transform: scale(1.06);
}
li.newslist img {
    width: 190px;
    height: auto;
    background-size: cover;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.8s ease-in;
}
.articleCont {
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
@media ( max-width: 880px ) {  /* mobile */
    li.newslist {
        display: block;
        width: 80%;
    }
    li.newslist img {
        width: 80%;
        margin: 20px;
    }
    .gridWrap {
        grid-template-columns: repeat(auto-fill, minmax(45%, auto));
    }
}
@media ( max-width: 720px ) {
    .gridWrap {
        display: block;
    }
}
