.bannText {
    width: 50%;
    height: 100%;
    font-size: 60px;
    padding: 50px;
    word-break: keep-all;
}
.bannImage {
    width: 50%;
    height: 80%;
    margin-top: 40px;
    background-size: cover;
    object-fit: scale-down;
    padding: 20px;
}

.slideButton {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.slideButton > button:nth-child(1) {  
    color: var(--main);
    width: 30px;
    height: 60px;
    border: 0px;
    background: transparent;
    font-size:50px;
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: start;
    align-items: center;
    display: flex;
}
.slideButton > button:nth-child(2) { 
    color: var(--main);
    width: 30px;
    height: 60px;
    border: 0px;
    background: transparent;
    font-size: 50px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: end;
    align-items: center;
    display: flex;
}
.move-button {
    width:100%;
    height:10px;
    display:flex;
    justify-content:center;
    position:absolute;
    bottom: 20px;
    z-index:2;
}
.move-button-item {
    width:10px;
    height:10px;
    border-radius:5rem;
    background-color:lightgray;
    cursor: pointer;
    display: inline-block;
    margin:6px;
}
.move-button-item.active {
    background-color:gray;
}
@media ( max-width: 880px ) {  /* mobile */
    .slideButton button{
        font-size: 30px !important;
        top: 90% !important;
        background-color: rgb(195, 234, 251, 0.4) !important;
    }
    .slideButton > button:nth-child(1) {
        right: 0px;
    }
    .slideButton > button:nth-child(2) { 
        left: auto;
    }
    .bannImage {
        width: 100%;
        height: 75%;
        margin-top: 20px;
    }
    .bannText {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        text-align: center;
        font-size: 30px;
    }
    #slider1 {
        padding: 0px !important;
    }
}